/* src/content-script/previewr.css */
.winbox {
  border-radius: 10px;
  overflow: hidden;
}
.nav-away {
  background-size: 15px auto;
  filter: invert(1);
}
.nav-back,
.open-options {
  background-size: 20px auto;
  filter: invert(1);
}
.loading {
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
  position: relative;
  background: white;
  top: 0;
}
.bar-animation {
  width: 50%;
  top: 50%;
  height: 3px;
  background: #0055d5;
  position: absolute;
  transition: 1s all ease-out;
  animation-name: loading-interminate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes loading-interminate {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 10%;
  }
  70% {
    left: 60%;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

/* website/styles.css */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
}
.container > img {
  margin: 50px 0 40px 0;
}
.container h1 {
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  color: #282828;
  margin-bottom: 24px;
  text-align: center;
}
.container > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #7b7b7b;
}
.button-group {
  display: flex;
  justify-content: center;
  margin: 20px 0 24px 0;
}
.button-group button {
  background-color: #fff;
  border: 0.5px solid #282828;
  color: #282828;
  padding: 6px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin: 0 20px;
  cursor: pointer;
  border-radius: 2px;
}
.button-group #chrome {
  background-color: #3549de;
  color: #ffffff;
  border: #3549de;
  padding: 7px 44px;
}
.button-group button .icon {
  display: inline-block;
  padding: 5px 10px;
  vertical-align: middle;
}
.product {
  border-radius: 8px;
  border: 8px solid #ccc
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #7b7b7b;
  margin-top: 24px;
  margin-bottom: 80px;
}
.feature {
  padding: 18px;
  text-align: center;
}
.feature img,
p {
  margin-bottom: 16px;
}
.feature p:first-of-type {
  font-weight: 500;
  color: #282828;
}
.six p {
  color: #7b7b7b !important;
}
.author {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #7b7b7b;
  margin-bottom: 80px;
}
.author a {
  text-decoration: none;
}
.social-links a,
footer a {
  margin: 0 8px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
footer {
  margin: 100px 0 80px;
}
footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
